body.night {
    background-color: #01090e;
}

body.night #header {
    box-shadow: 0px 0px 20px -6px #fff;
}

body.night h1, body.night .blogTitle, body.night .blogDescription, body.night .blogDate {
    color: #d7d7d7;
}

body.night #header .headerNav li.current a {
    color: #4393b8;
}

body.night input, body.night textarea {
    color: #d7d7d7;
}